<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xinchan.mybatis.mapper.ProductMapper">
	<!--int insertProduct();-->
	<insert id="insertProduct">
		insert into prod values (null, "phone", "huawei", 5000.0);
	</insert>

	<!--void updateProduct();-->
	<update id="updateProduct">
		update prod set price = 3000.0 where id = 2;
	</update>

	<!--void deleteProduct();-->
	<delete id="deleteProduct">
		delete from prod where id = 2;
	</delete>

	<!--Product selectProduct();-->
	<select id="selectProduct" resultType="Product">
		select * from prod where price = 5000;
	</select>
	
	<!--List<Product> selectAllProduct();-->
	<select id="selectAllProduct" resultType="Product">
		select * from prod;
	</select>
</mapper>